<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yhakamay.muzzlemeter.sniff</string>
	<key>CFBundleName</key>
	<string>muzzlemeter-sniff</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>弾速計 (Acetech AC6000) の BLE パケットを解析するために Bluetooth を使用します。</string>
</dict>
</plist>
